.back-ground {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  opacity: 0.8;
  width: 89%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
}
